@charset "UTF-8";
/*
Doddatki do zamówień via sass
*/
/*
    Dotyczy widoku handlowego.
*/
/*
th.clickable {
    cursor: pointer;
}

th.clickable.on {
    color: red;
}
*/
#the-dd {
  position: relative; }

#the-dd > span {
  position: absolute;
  right: 0.5em;
  color: green; }

.new-type-header {
  position: relative; }

.new-type-header > p {
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
  padding: 0.5em; }

.new-type-header > p.ikony-handlowe {
  padding-top: 2.1em; }

.ikony-handlowe .fa {
  font-size: 210%; }

.ikony-handlowe .fa-file-pdf-o {
  font-size: 170%; }

.ikony-handlowe > span {
  display: inline-block;
  vertical-align: top;
  padding: 0.3em; }

.ikony-handlowe > .pdf-span {
  margin-top: 0.15em; }

.ikony-handlowe > .pdf-span i {
  color: red; }

.ikony-handlowe > .pdf-span i:hover {
  color: #ff6666; }

.numer-handlowy {
  font-size: 200%;
  margin-bottom: 0.8em; }

.daty-handlowe {
  font-size: 180%;
  color: lightseagreen;
  margin: 0; }

.daty-handlowe > span {
  font-size: 50%;
  display: block;
  color: black; }

.numer-handlowy > span {
  color: lightseagreen;
  font-weight: bold; }

.daty-handlowe {
  position: absolute;
  right: 0; }

.numer-handlowy .ekspres {
  color: red;
  font-weight: bold;
  font-size: 0.7em; }

.new-type-header label {
  font-size: 0.4em; }

.new-type-header label span {
  color: black; }

dl.in-order {
  width: 40%;
  display: inline-block; }

.order-uwagi {
  display: inline-block;
  vertical-align: top;
  padding-left: 2em;
  width: 55%; }

.order-uwagi > p {
  font-weight: bold;
  margin-top: 0.4em; }

.in-order .rodzcust {
  color: #0096a1;
  font-weight: bold; }

/* 
    Prepaid po nowemu
*/
#the-dd-2 {
  font-size: 83%;
  padding: 6px 4.31px 0 10px; }

#the-dd-2.clickable > i.fa-usd {
  cursor: pointer; }

#the-dd-2 .fa-caret-right, #the-dd-2.clickable.open .fa-caret-right {
  display: none; }

#the-dd-2.clickable .fa-caret-right {
  display: inline-block;
  font-size: 150%; }

#the-dd-2 .drugi, #the-dd-2 .trzeci {
  display: none; }

#the-dd-2.open .drugi, #the-dd-2.open .trzeci {
  display: inline-block;
  margin-left: 0.3em; }

#the-dd-2.waiting > i[dolar=one],
#the-dd-2.waiting > i[dolar=two],
#the-dd-2.waiting > i[dolar=three] {
  display: none; }

/* Kolory dolarów */
#the-dd-2 i.fa-spinner {
  display: none; }

#the-dd-2.waiting i.fa-spinner {
  display: inline-block;
  color: grey; }

#the-dd-2.red i.fa-usd {
  color: red; }

#the-dd-2.red i.fa-usd.drugi {
  color: orange; }

#the-dd-2.red i.fa-usd.trzeci {
  color: green; }

#the-dd-2.ora i.fa-usd {
  color: orange; }

#the-dd-2.ora i.fa-usd.drugi {
  color: green; }

#the-dd-2.ora i.fa-usd.trzeci {
  color: red; }

#the-dd-2.gre i.fa-usd {
  color: green; }

#the-dd-2.gre i.fa-usd.drugi {
  color: red; }

#the-dd-2.gre i.fa-usd.trzeci {
  color: orange; }

#pay-err {
  font-size: 120%;
  margin: 0 1em;
  padding: 1em 2em;
  background-color: #ffa5bc;
  position: relative;
  cursor: pointer; }

#pay-err > i {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  font-size: 80%; }

/*# sourceMappingURL=order.css.map */
