body {
  padding-top: 60px; }

a:focus {
  outline: 0;
  outline: 0 !important;
  outline-style: none;
  border: 0; }

/*
.navbar-default .navbar-nav > li > a:hover { 
  background-color: #1A99E2;
}
*/
nav.navbar li.dropdown {
  font-weight: 700;
  font-size: 16px; }

.dropdown-menu a > span {
  font-size: 0.9em; }

nav.navbar li > .glyph {
  font-size: 15px; }

#mojnavbar .navbar-text {
  font-weight: bold;
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 3.33333px; }

#mojnavbar .logout > a {
  margin-left: 10px;
  color: white; }

#mojnavbar .logout > a:hover {
  color: #59CEF0; }

.object-title {
  margin-top: 5px;
  margin-bottom: 30px; }

.object-title > a {
  font-size: 80%;
  padding: 0 1em;
  color: #f0d17b; }

.object-title > a:hover {
  color: #a89256; }

.action-strip {
  display: inline-block;
  vertical-align: center;
  font-size: 2em; }

.label-big {
  font-size: 12px; }

.f13 {
  font-size: 14px; }

.f14 {
  font-size: 14px; }

.f15 {
  font-size: 15px; }

.f16 {
  font-size: 16px; }

.big {
  font-size: 16px; }

.my-fixed {
  table-layout: fixed; }
