#tabsy div.form {
  border-left: none;
  padding-left: 0;
  padding-right: 0; }

table.proof1 th, table.proof1 td {
  border: 1px solid black;
  padding: 0.5mm;
  text-align: center; }

table.proof1 th {
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #4a73bd;
  color: white; }

table.proof1 td {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #a1c4e9; }

table.proof1 {
  border-spacing: 2.5mm 0; }

.unlocked .pedit {
  background-color: #83bfaf; }

/* Panel sterowania
*/
#panel {
  margin-bottom: 0.2em;
  text-align: right;
  padding: 0 3mm;
  font-size: 32px;
  position: relative; }

.edit-no #panel {
  color: red; }

.edit-yes #panel {
  color: green; }

.loading #panel i.fa-spinner {
  color: grey; }

#panel > i {
  cursor: pointer; }

.locked i.fa-unlock, .unlocked i.fa-lock, i.fa-spinner,
.loading i.fa-unlock, .loading i.fa-lock {
  display: none; }

.loading i.fa-spinner {
  display: inline-block; }

i.fa-lock {
  margin-right: 0.3em; }

#panel > p {
  border: 1px solid grey;
  margin: -11px 0 0 0;
  background-repeat: no-repeat;
  background-position: center;
  height: 22px;
  width: 30px;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 1.5em; }

.en #panel > p {
  background-image: url("../img/proof/en32.png"); }

.pl #panel > p {
  background-image: url("../img/proof/pl32.png"); }

#proof-form {
  font-size: 14px; }

#proof-form #ProofUpdateForm input {
  padding: 0.4em 1em; }
