@charset "UTF-8";
/*
Definicje opisujące elemety uzywane w obłudze dodawania/edycji kart w trybie multi */
#CardAddForm fieldset > legend > span {
  color: #e32;
  cursor: pointer; }

#CardAddForm fieldset.mono > legend > span:last-child {
  display: none; }

#CardAddForm fieldset.multi > legend > span:first-child {
  display: none; }

#CardAddForm .multi-wrap {
  width: 50%;
  background-color: lightseagreen;
  display: none; }

#CardAddForm .multi-wrap > div {
  display: inline-block; }

#CardAddForm .multi-wrap > div.mti {
  width: 60px;
  margin-right: 2em; }

#CardAddForm .multi-wrap > div.cenka {
  width: 100px;
  margin-right: 2em; }

/*---------------------------------------------*/
#xCardAddForm fieldset.multi div.mti {
  position: absolute;
  left: 200px;
  top: -36px;
  width: 60px; }

#xCardAddForm fieldset.mono > div.mti {
  visibility: visible; }

#xCardAddForm fieldset > div.zz > input {
  margin: 3px 6px 0 0; }

#xCardAddForm fieldset.mono > div.zz {
  visibility: visible; }

#xCardAddForm fieldset.multi div.zz {
  position: absolute;
  left: 430px;
  top: -30px; }

/*
    Kwestia ceny */
#xCardAddForm fieldset.multi div.cenka {
  position: absolute;
  left: 305px;
  top: -36px;
  width: 90px; }

#xCardAddForm fieldset.mono > div.cenka {
  visibility: visible; }
