@charset "UTF-8";
/*
Definicje opisujące elemety uzywane w obłudze dodawania/edycji kart w trybie multi */
#CardAddForm fieldset > span.legend {
  color: #e32;
  display: inline-block;
  font-size: 23px;
  font-weight: bold;
  padding-left: 6px;
  margin-bottom: 15px;
  cursor: pointer; }

#CardAddForm fieldset.mono > span.legend > span:last-child {
  display: none; }

#CardAddForm fieldset.multi > span.legend > span:first-child {
  display: none; }

#CardAddForm .multi-wrap {
  width: 50%;
  position: absolute;
  left: 200px;
  top: 0; }

#CardAddForm .mono > .multi-wrap {
  display: none; }

#CardAddForm .multi-wrap > div {
  display: inline-block; }

#CardAddForm .multi-wrap > div.mti {
  width: 60px;
  margin-right: 2em; }

#CardAddForm .multi-wrap > div.cenka {
  width: 110px;
  margin-right: 2em; }

#CardAddForm .multi-wrap > div.zz {
  margin-top: 5px; }

#CardAddForm .multi-wrap > div.zz > input {
  margin: 3px 6px 0 0; }

/*
definicje związane z nagłówkiem kartry */
.karta-header > * {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: top; }

.karta-header > .cechy-wrap.wju {
  padding: 0;
  margin: 1px 0 0 5px; }

.karta-header a i {
  font-size: 130%;
  margin: 1px 0 0 10px; }

.karta-header i {
  font-size: 107%;
  margin: 1px 0 0 10px;
  color: #666666; }

.archived .status {
  color: red;
  font-weight: bolder; }

#karty tr.problem {
  background-color: #ffefb5; }

#karty tr.problem:hover {
  background-color: lightgreen; }

#karta_klient input {
  width: 97%; }

#karta_klient > div:last-child {
  width: 40%; }

#wpliki tr {
  display: none; }

#wdiv > label {
  margin: 0.6em 0; }

#zdiv > label {
  margin: 0.9em 0 0 0; }

#wdiv > label {
  display: none; }

#wdiv > label, label[for="UploadFiles"], #zdiv > label {
  color: #0f52ac !important; }

#wpliki td, #filetable td, #zpliki td {
  overflow: hidden;
  white-space: nowrap; }

#filetable td:first-child, #filetable th:first-child {
  width: 1em; }

#filetable td:first-child > input {
  margin: 4px 10px 0 0; }

#filetable td:nth-child(3), #filetable th:nth-child(3) {
  width: 4em; }

#filetable td:nth-child(3) > input {
  margin: 5px 0 0 15px; }

#filetable th:nth-child(4), #filetable td:nth-child(4) {
  width: 12em; }

#filetable td:nth-child(5), #filetable th:nth-child(5) {
  width: 17em; }

#zpliki th:first-child, #zpliki td:first-child {
  width: 1em; }

#zpliki th.rodo_box, #zpliki td.rodo_box {
  width: 3em; }

#zpliki td.rodo_box > input {
  margin: 6px 0 0 11px; }

#zpliki th.role, #zpliki td.role {
  width: 12em; }

#zpliki th:last-child, #zpliki td:last-child {
  width: 17em; }

#zpliki td:last-child > input {
  width: 97%; }

#wpliki tr.th {
  display: table-row; }

#wpliki th:first-child, #wpliki td:first-child {
  width: 1.5em; }

#wpliki th.role, #wpliki td.role {
  width: 12em; }

#wpliki th:last-child, #wpliki td:last-child {
  width: 17em; }

#filetable input, #filetable td:nth-child(2) {
  font-size: 110% !important; }

#zpliki select, #filetable select {
  font-size: 100%; }

#CardAddForm td > input, #CardEditForm td > input {
  font-size: 120%;
  padding: 0.18em; }

#CardAddForm div.cmykdiv, #CardEditForm div.cmykdiv {
  padding: 0 15px 0 0;
  width: 52%;
  min-width: 525px; }

#CardCmykComment {
  width: 96%; }

#CardAddForm div.cmykdiv th:first-child,
#CardAddForm div.cmykdiv td:first-child,
#CardEditForm div.cmykdiv th:first-child,
#CardEditForm div.cmykdiv td:first-child {
  width: 16%; }

#CardAddForm fieldset td:first-child, #CardEditForm fieldset td:first-child {
  font-size: 120%; }

div.cmykdiv table {
  table-layout: fixed; }

/*
#CardAddForm select, #CardEditForm select { padding: 0; }
*/
#CardAddForm td select, #CardEditForm td select {
  margin: 0 0.15em; }

#CardAddForm div.sitodiv, #CardEditForm div.sitodiv {
  padding: 0 15px 0 0;
  width: 52%;
  min-width: 525px; }

#CardAddForm #CardSitoComment, #CardEditForm #CardSitoComment {
  height: 290px;
  width: 96%; }

.optiondiv select {
  width: 100%; }

.optiondiv:first-child {
  width: 25%;
  min-width: 235px; }

.optiondiv:nth-last-child(2) {
  width: 15%;
  min-width: 145px; }

.optiondiv div {
  margin-bottom: 0.5em; }

#CardOptionComment {
  height: 220px; }

#CardCustomerId {
  min-width: 60px; }

#CardAddForm {
  margin-right: 0;
  width: 99%; }

#CardAddForm label {
  font-weight: bold;
  color: #36466B; }

#CardAddForm table.sitotable td:first-child,
#CardAddForm table.sitotable th:first-child {
  /*background-color: lightgreen;*/
  width: 155px; }

ul#fileList {
  list-style-type: none;
  margin-left: 0;
  margin-right: 0; }

ul#fileList li {
  margin-left: 0;
  margin-right: 0;
  display: table;
  width: 100%; }

ul#fileList li div {
  margin-bottom: 0;
  /*border: none;*/
  display: table-cell; }

ul#fileList li div:first-child {
  background-color: lightgreen;
  font-size: 120%;
  /*max-width: 335px;*/ }

ul#fileList li div:last-child {
  background-color: lightpink;
  /*width: 180px;*/ }

#persokeep {
  width: 45%;
  vertical-align: top; }

.perso-types {
  margin: 0;
  padding: 0; }

.perso-types > div {
  display: inline-block;
  margin: 0;
  margin-right: 1.5em; }

.perso-types input[type=checkbox] {
  float: none;
  display: inline; }

#ptext {
  padding-left: 0; }

#ptext > textarea {
  height: 200px; }

div#finaluw textarea {
  width: 97%;
  height: 145px; }

.cardviewtable {
  /*display: inline-block;*/
  vertical-align: top; }

.cardviewtable td {
  overflow: hidden;
  white-space: nowrap; }

#cmykwrap {
  width: 47%;
  margin-left: 20px;
  float: right; }

#cmykwrap > p {
  margin-top: 0; }

#cardcmyk td:first-child, #cardcmyk th:first-child {
  min-width: 75px;
  max-width: 75px; }

#cardsito {
  float: left;
  max-width: 50%;
  /*background-color: #e9a516*/ }

#cardsito + div, #innedl + div {
  float: right;
  width: 46%;
  margin-left: 20px; }

#cardsito td:first-child, #cardsito th:first-child {
  min-width: 120px;
  width: 30%; }

#cardsito th:nth-child(2), #cardsito td:nth-child(2),
#cardsito th:last-child, #cardsito td:last-child {
  min-width: 100px; }

div.smallcomment {
  padding: 5px;
  overflow: hidden; }

div.smallcomment p {
  font-weight: bold;
  margin-bottom: 5px; }

div.cards.view dl {
  display: inline-block; }

div.cards.view dl dt {
  white-space: nowrap;
  overflow: hidden; }

#cardviewdl {
  width: 50%; }

#kartview {
  /*margin-left: 100px; 
	border: 1px solid orange;
	width: auto;*/
  min-width: 850px;
  float: none;
  margin-bottom: 30px; }

#cardviewdl dd {
  padding-left: 10px;
  /*margin-left: 10em;*/ }

#cardviewdl dt {
  /*white-space:nowrap;
	overflow: hidden;*/
  padding-right: 5px;
  /*width: 10em;*/ }

#innedl {
  width: 50%; }

div#perop1, div#perop2 {
  clear: both;
  width: 49.3%;
  display: inline-block;
  vertical-align: top; }

div#perop1 {
  margin-right: 5px; }

div#perop2 {
  margin-left: 5px; }

div#perop2 #innedl {
  width: 100%; }

div#perop2 div.smallcomment {
  width: 97%;
  margin-top: 10px; }

p.comments {
  padding: 10px; }

p.pover-view {
  border: 2px solid green;
  border-radius: 5px;
  margin-top: 3px; }

#karty .id {
  width: 3.5em; }

#karty .per {
  width: 0.2em; }

#karty .jest {
  background-color: grey; }

#karty .pover {
  background-color: green; }

#karty .klient {
  width: 11em; }

#karty .opcje {
  width: 10em;
  padding-top: 3px;
  padding-bottom: 3px; }

#karty .termin {
  width: 4em; }

#karty .ile {
  width: 6em;
  text-align: right; }

#karty .status {
  width: 5em; }

#karty .nr {
  width: 6.5em; }

#plikikarty .id {
  width: 4em; }

#plikikarty .rola {
  width: 15em; }

#plikikarty .size {
  width: 7em; }

#plikikarty .data {
  width: 7em; }

/* dla search.ctp
*/
.zamzle, .klikar {
  font-size: 110%;
  padding-bottom: 2em;
  margin-left: 2em; }

.zamzle li, .klikar li {
  line-height: 1.7em; }

#search_wrap {
  padding-left: 20px; }

.wyroznij-date {
  color: red; }

/* Wyświetlanie opcji perso
*/
p.viewheader > span {
  color: #ffc04c;
  padding: 0 0 0 1.9em; }

.wyroznij-date.persodate, .wyroznij_date.persodate {
  color: green; }

.persodate {
  cursor: default; }

.changable {
  cursor: pointer;
  overflow: visible;
  position: relative; }

.kalendar-wraper {
  position: absolute;
  z-index: 1000; }

#datepicker {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  margin-left: -115px;
  margin-top: -115px;
  box-shadow: 15px 15px 40px 0px #4D4D4D; }

td.busy, dl#cardviewdl dd.busy {
  background-image: url("../img/bg.gif");
  background-repeat: no-repeat;
  background-size: contain;
  color: transparent; }

td.busy {
  background-position: center; }

dl#cardviewdl dd.busy {
  background-position: 30px; }

.wyroznij-date.persodate.busy, .wyroznij_date.persodate.busy {
  color: transparent; }

#komunikat.pokaz {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  margin-top: -100px;
  box-shadow: 15px 15px 40px 0px #4D4D4D;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 1.5em;
  background-color: #ff6666;
  color: white;
  cursor: pointer; }

#komunikat.pokaz > p {
  font-size: 0.5em; }

#close-pic {
  height: 25px;
  line-height: 25px;
  color: brown;
  background-color: #F8DA4E;
  cursor: pointer;
  vertical-align: central;
  text-align: center;
  margin: 0 0 2px 0; }

#etykietoza {
  margin: 0; }

#etykietoza > div {
  display: inline-block; }

#etykietoza > div:last-child {
  margin-left: 1.5em; }

#innedl .konec {
  border: 2px solid green;
  border-radius: 7px; }
