@charset "UTF-8";
/*
Definicje opisujące elemety uzywane w obłudze dodawania/edycji kart w trybie multi */
#CardAddForm fieldset > span.legend {
  color: #e32;
  display: inline-block;
  font-size: 23px;
  font-weight: bold;
  padding-left: 6px;
  margin-bottom: 15px;
  cursor: pointer; }

#CardAddForm fieldset.mono > span.legend > span:last-child {
  display: none; }

#CardAddForm fieldset.multi > span.legend > span:first-child {
  display: none; }

#CardAddForm .multi-wrap {
  width: 50%;
  position: absolute;
  left: 200px;
  top: 0; }

#CardAddForm .mono > .multi-wrap {
  display: none; }

#CardAddForm .multi-wrap > div {
  display: inline-block; }

#CardAddForm .multi-wrap > div.mti {
  width: 60px;
  margin-right: 2em; }

#CardAddForm .multi-wrap > div.cenka {
  width: 110px;
  margin-right: 2em; }

#CardAddForm .multi-wrap > div.zz {
  margin-top: 5px; }

#CardAddForm .multi-wrap > div.zz > input {
  margin: 3px 6px 0 0; }
