@charset "UTF-8";
/*
    Style związane z wyświetlaniem zdarzeń pod zamówieniem.
    Nowa funkcjonalność - posty z historią, starszymi wersjami
*/
div.ul-events ul li.post div.postpost {
  width: 65%; }

ul.wersja {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 60%;
  position: absolute;
  bottom: 5px;
  right: 5px; }

ul.wersja li {
  float: right;
  margin: 0; }

ul.wersja li span {
  display: block;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  background-color: #bfb095;
  border-radius: 3px;
  cursor: default; }

ul.wersja li span.cyferka {
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px; }

ul.wersja li span.tekst {
  background-color: transparent; }

p.chmurka {
  display: none; }

p.chmurka.visible {
  display: block;
  position: absolute;
  bottom: 30px;
  right: 0;
  padding: 15px;
  background-color: #dbdad0;
  border-radius: 5px;
  box-shadow: 10px 10px 5px grey;
  font-size: 75% !important;
  min-width: 80px;
  min-height: 20px; }

span.event_no {
  position: absolute;
  top: 0px;
  right: 0;
  padding: 5px; }

span.fixit {
  display: block;
  padding: 3px 10px;
  position: absolute;
  top: 0;
  right: 15px;
  color: #bfb095;
  cursor: pointer; }

span.fixit > i.fa {
  font-size: 20px; }

/*
  Style do edycji postu

  Thanks to:
  https://www.w3schools.com/howto/howto_js_fullscreen_overlay.asp
  https://css-tricks.com/centering-css-complete-guide/ */
.fix-block {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed;
  /* Stay in place */
  z-index: 7;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: black;
  /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.7);
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */ }

.fix-block .fix-div, .fix-div form, .fix-block .fix-div.edit .kreciola, .fix-block .fix-div .errmsg {
  display: none; }

.fix-block .fix-div.edit, .fix-block .fix-div.sending, .fix-block .fix-div.error {
  display: block;
  position: relative;
  width: 60%;
  height: 100%;
  margin: 0 auto; }

.fix-div.edit form {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 800px; }

/* Poniżej style, elementów formularza */
.fix-div.edit form textarea {
  min-height: 200px; }

.fix-div.edit form div {
  margin: 0;
  padding: 10px; }

.fix-div p.all, .fix-div p.aktualny {
  visibility: hidden; }

.fix-div.edit form button {
  padding: 0.6em 2em;
  color: white;
  background-color: #66b2b2;
  border-color: #66b2b2;
  border-radius: 10px;
  margin-right: 20px; }

.fix-block .fix-div.sending .kreciola {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1000%;
  color: #2a85ec; }

.fix-block .fix-div.error .errmsg {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 250%;
  color: red;
  padding: 0;
  border: solid bisque 1px;
  border-radius: 10px;
  background-color: #3c3d36;
  box-shadow: 20px 20px 5px #252424; }

.fix-block .fix-div.error .errmsg div {
  margin: 0;
  padding: 30px; }

.fix-block .fix-div.error .errmsg p {
  margin: 0;
  text-align: right;
  padding: 0 20px 20px 0; }

.fix-block .fix-div.error .errmsg p a {
  color: bisque; }

.fix-block .fix-div.error .errmsg p a:hover {
  color: orange; }

/* We need it to desirably set the element przypominajka */
#OrderAddForm, .event-order > #EventViewForm {
  position: relative; }

.przypominajka.off {
  display: none; }

.przypominajka {
  background: #f7347a;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  box-shadow: 0 0 0 0 black;
  transform: scale(1);
  animation: pulse 2s infinite; }

#OrderAddForm .przypominajka {
  position: absolute;
  left: 120px;
  bottom: -87px; }

.event-order > #EventViewForm .przypominajka {
  position: absolute;
  left: 150px;
  bottom: -5px; }

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7); }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0); }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); } }

#ekspresorder {
  cursor: pointer;
  width: 100px;
  max-height: 100px;
  min-height: 100px;
  margin: 0;
  padding: 0;
  background-image: url("../img/expres_szary.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 62px;
  right: 20px; }

#ekspresorder.ekspres {
  background-image: url("../img/expres.png"); }

dd span.ekspres {
  color: red;
  font-weight: bold; }

#kart_wrap, #timeandpay, #commentwrap, #wysylka_wrap {
  padding: 1em 0; }

#wysylka_wrap > div {
  padding: 0.3em 0; }

#wysylka_wrap > div > div {
  padding: 0 0.5em; }

div.datepickerwrap {
  position: relative;
  min-width: 420px;
  width: 420px;
  padding: 0 1em 0 0; }

#paywrap {
  min-width: 300px;
  padding: 0 0 0 0; }

#platnosci > div {
  padding: 0 0.5em; }

#platnosci div > div {
  padding: 0.3em 0; }

#platnosci > div:first-child {
  min-width: 190px; }

#platnosci select {
  width: 99%; }

/* ####### */
#nr_budynku_div, #kod_div {
  width: 15%; }

#kraj_div {
  width: 28%; }

#dostava_div {
  width: 26%; }

/*  POPRAWKI
*/
div.the_awesome > #miasto_div input {
  width: 97%; }

div.the_awesome > #kraj_div input {
  width: 97%; }

div.the_awesome > #kod_div input {
  width: 90%; }

div.the_awesome > #tel_div input {
  width: 97%; }

div.the_awesome > #nr_budynku_div input {
  width: 94%; }

#ordcards {
  margin: 0; }

#ordcards select {
  font-size: 130%; }

#ordcards a {
  font-size: 110%;
  line-height: 1.8em; }

#ordcards td.noinput {
  vertical-align: middle; }

#ordcards td {
  white-space: nowrap;
  overflow: hidden;
  padding: 0.2em; }

#ordcards td input {
  width: 90%; }

#ordcards td.cena input {
  width: 85%; }

#ordcards th:first-child, #ordcards td:first-child {
  width: 1.5em; }

#ordcards .mnoznik {
  width: 5em; }

#ordcards .cena {
  width: 7em; }

#ordcards .ile {
  width: 9em; }

#ordcards .nazwakar {
  min-width: 14em; }

div.orders.form {
  min-width: 755px; }

div.index th:first-child, div.index td:first-child {
  width: 4em; }
