/*
    Style związane z wyświetlaniem zdarzeń pod zamówieniem.
    Nowa funkcjonalność - posty z historią, starszymi wersjami
*/

$dymek-color: #dbdad0;
$kolor-ikonki-wersji: #bfb095;

// Generalnie style zdarzeń są kiepsko zrobione, tu przy okzaji trochę wygładzamy
// Nadpisujemy poprzednie definicje, żeby było trochę szersze
div.ul-events ul li.post div.postpost {    
    width: 65%;
}

ul.wersja {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 60%;

    position: absolute;
    bottom: 5px;
    right: 5px;   
}
  
ul.wersja li {
    float: right;
    margin: 0;
}

// Wygląd kontrolek do wyświetlania poprzednich wersji
ul.wersja li span {
    display: block;    
    text-align: center;
    padding: 5px;    
    text-decoration: none;
    background-color: $kolor-ikonki-wersji;
    border-radius: 3px;
    cursor: default;
}

//Dokładniej
ul.wersja li span.cyferka {
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

ul.wersja li span.tekst {    
    background-color: transparent;
}

// tekst starszych wersji
p.ekstra-msgs {
    position: relative;
    margin: 0;
    padding: 0;
}

p.ekstra-msgs span {
    background-color: $dymek-color;
    border-radius: 5px;
    box-shadow: 10px 10px 5px grey;
    padding: 10px 20px;
    position: absolute;
    top: 10px;
    right: 25px;
    z-index: 2;
    display: none;
    font-size: 80%;
}

p.ekstra-msgs span.visible {
    display: block;
}

// nowy sposób pozycjonowania licznika zdrzeń
span.event_no {
    position: absolute;
    top: 0px;
    right: 0;
    padding: 5px;
}

//Ikona "edycji" postu
span.fixit {
    display: block;
    padding: 3px 10px;
    position: absolute;
    top: 0;
    right: 15px;    
    color: $kolor-ikonki-wersji;
    cursor: pointer;
}

span.fixit > i.fa {
    font-size: 20px;
}