/*
Kwestie związane z przedpłatą
*/

dl > dd.pre-paid { //to dd w której wyświetlane są przedpłaty
    //background-color: red;
    position: relative;
}

.pay-info {
    //
    display: inline-block;
    margin: 0;
    position: absolute;
    right: 0;
    //padding: 0 0.5em;
    //height: 3em;
}

.pay-info > span {
    //border-bottom: 1px solid violet;
    display: block;
    width: 2.5em;
    height: 2em;    
    text-align: center;
    //padding-right: 0.5em;
    border-radius: 2px;
}

.pay-info > span.zero { background-color: red; }
.pay-info > span.one { background-color: orange; }
.pay-info > span.two { background-color: green; }


