/* 
    Prepaid po nowemu
*/

#the-dd-2  {  font-size: 83%; padding: 6px 4.31px 0 10px;}

#the-dd-2.clickable > i.fa-usd {  cursor: pointer; }

// bez klasy .clickable oraz gdy widżet jest otwarty - chcemy by kareta nie była widoczna
#the-dd-2 .fa-caret-right, #the-dd-2.clickable.open .fa-caret-right { display: none; }

// da się kliknąć, więc pokazujemy karetę
#the-dd-2.clickable  .fa-caret-right {  display: inline-block;  font-size: 150%; }

// gdy nie ma klasy .open (widżet zamknięty), to dwa ostatnie dolary niewidoczne
#the-dd-2 .drugi, #the-dd-2 .trzeci { display: none; }

// .open - widżet otwarty
#the-dd-2.open .drugi, #the-dd-2.open .trzeci { 
    display: inline-block; 
    margin-left: 0.3em;}

#the-dd-2.waiting > i[dolar=one], 
#the-dd-2.waiting > i[dolar=two],
#the-dd-2.waiting > i[dolar=three] {display: none;}

/* Kolory dolarów */

#the-dd-2 i.fa-spinner { display: none;}  //kręcioła
#the-dd-2.waiting i.fa-spinner { display: inline-block; color: grey;}  //kręcioła

// pierwszy CZERWONY
#the-dd-2.red i.fa-usd { color: red; }
#the-dd-2.red i.fa-usd.drugi  { color: orange; }
#the-dd-2.red i.fa-usd.trzeci { color: green; }

// pierwszy POMARAŃCZOWY
#the-dd-2.ora i.fa-usd { color: orange; }
#the-dd-2.ora i.fa-usd.drugi  { color: green; }
#the-dd-2.ora i.fa-usd.trzeci { color: red; }

// pierwszy ZIELONY
#the-dd-2.gre i.fa-usd { color: green; }
#the-dd-2.gre i.fa-usd.drugi  { color: red; }
#the-dd-2.gre i.fa-usd.trzeci { color: orange; }