/*
Dotyczy widoku handlowego.
*/

.new-type-header { 
    position: relative;
}

.new-type-header > p { 
    border-radius: 5px;
    display: inline-block;
    vertical-align: top;
    padding: 0.5em;
}

p.ikony-handlowe {
    padding-top: 1.9em;
}

.ikony-handlowe .fa {
    font-size: 210%;
}

.ikony-handlowe .fa-file-pdf-o {
    font-size: 170%;
}

.ikony-handlowe > span {
    display: inline-block;
    vertical-align: top;
    padding: 0.3em;
}

.ikony-handlowe > .pdf-span {
    margin-top: 0.1em;    
}

.ikony-handlowe > .pdf-span i {
    color: red;
}

.ikony-handlowe > .pdf-span i:hover {
    color: #ff6666;
}

.numer-handlowy {
    font-size: 200%;
}

.daty-handlowe {
    font-size: 180%;
}

.numer-handlowy > span {
    color: lightseagreen;
    font-weight: bold;
}

.daty-handlowe {
    position: absolute;
    right: 0;
}

.numer-handlowy .ekspres {
    color:red;
    font-weight: bold;
    font-size: 0.7em;
}

.new-type-header label {
    font-size: 0.4em;
}

.new-type-header label span {
    color: black;
}

dl.in-order {
    width: 40%;
    display: inline-block;
}

.order-uwagi {
    display: inline-block;
    vertical-align: top;
    padding-left: 2em;
}

.order-uwagi > p {
    font-weight: bold;
    margin-top: 0.4em;
}