/*
Kwestie związane z przedpłatą
*/

dl > #the-dd { //to dd w której wyświetlane są przedpłaty
    //background-color: red;
    position: relative;
}

dl > #the-dd .pay-info {
    //
    display: inline-block;
    margin: 0;
    position: absolute;
    right: 0;
    //padding: 0 0.5em;
    //height: 3em;
}

dl > #the-dd .pay-info > span {
    //border-bottom: 1px solid violet;
    display: block;
    width: 2.5em;
    height: 2em;    
    text-align: center;
    //padding-right: 0.5em;
    border-radius: 2px;
}

// sytuacja, gdy płatność nie ruszona
dl > #the-dd.null .pay-info > #span1 { background-color: red; }
dl > #the-dd.null .pay-info > #span2 { background-color: orange; }
dl > #the-dd.null .pay-info > #span3 { background-color: green; }

// sytuacja, gdy mamy potwierdzenie wpłaty
dl > #the-dd.confirmed .pay-info > #span1 { background-color: orange; }
dl > #the-dd.confirmed .pay-info > #span2 { background-color: green; }
dl > #the-dd.confirmed .pay-info > #span3 { background-color: red; }

// sytuacja, gdy mamy potwierdzenie wpłaty
dl > #the-dd.money .pay-info > #span1 { background-color: green; }
dl > #the-dd.money .pay-info > #span2 { background-color: red; }
dl > #the-dd.money .pay-info > #span3 { background-color: orange; }

dl > #the-dd .pay-info > #span2,
dl > #the-dd .pay-info > #span3 { visibility: hidden; }

dl > #the-dd.open .pay-info > #span2,
dl > #the-dd.open .pay-info > #span3 { visibility: visible; }

dl > #the-dd.open .pay-info > span {
    cursor: pointer;
}

dl > #the-dd .pay-info > #span1 > i { visibility: hidden; }
dl > #the-dd.clickable .pay-info > #span1 > i { visibility: visible;}
dl > #the-dd.clickable .pay-info > #span1 { cursor: pointer; }