$font-stack:    'lucida grande',verdana,helvetica,arial,sans-serif;
$primary-color: black;
$order-nr-color: #007300;
$codrugi-wiersz-color: #e0e0e0; //do tabelek, wyróżninie co drugiego wiersza
$order-termin-color: blue; // testowo, normalnie jest red;
$order-jobnr-color: red;
$job-nr-color: red;
$job-termin-color: red;

body {
  font: 90% $font-stack;
  color: $primary-color;
  margin: 0 auto;
}

table {
    width: 100%;
    table-layout: fixed;    
    border-collapse: collapse;    
}

table td { vertical-align: top; }
table th, table td { padding: 0.3em; //border: 0.5px solid black;
}

p { margin: 0; padding: 0; }

label { 
    font-weight: 300;
    color: grey;
    font-size: 8pt; 
    display: block; 
}

