/*
Wersja dla nowego serwera, bo wkhtmltopdf renderuje ten sam kod trchę inaczej
*/

@import 'pdf';

table { margin-bottom: 5mm; }

table td.nr-col, table th.nr-col { width: 13em; }

table td.nr-col {    
    text-align: right;
    padding: 0 3mm;
}

table td.td1 { vertical-align: top;}
table td.td1 > p { padding: 1mm; }
table td.td1 .termin { color: $order-termin-color; font-size: 1.6em; }
//table td.td1 .termin, table td.td1 .naklad { display: inline-block; }

.karty-pdf > table td { border: 0.9px solid black;}
.karty-pdf table tr:last-child td { border: none; }

table td.nr-col > p.ord-nr {
    font-size: 1.6em;
    //font-weight: bold;
    color: $order-nr-color;
}

table td.jobnr { color: $order-jobnr-color; }
table td.jobnr > span { color: grey; }

table td.nr-col > p.ekspres { color: $order-termin-color; }

.karty-pdf table tr.darker { background: none repeat scroll 0 0 $codrugi-wiersz-color; }
.karty-pdf table tr:last-child { font-weight: bold; background: transparent; }
.karty-pdf table th.lp, .karty-pdf table td.lp { width: 2em; }
.karty-pdf table th.id, .karty-pdf table td.id { width: 4em; }
.karty-pdf table .perso { width: 1.5em; }
.karty-pdf table .jobnr { width: 5em; }
.karty-pdf table th.ile, .karty-pdf table td.ile { width: 7em;  }
.karty-pdf table .cena { width: 5em; }
.karty-pdf table td.ile, .karty-pdf table td.cena  { text-align: right; }

.adresy-uwagi-pdf table td { padding: 2mm;}
.adresy-uwagi-pdf table .adresy { width: 30%; }
.adresy-uwagi-pdf table .adresy > div { margin-bottom: 1em; }
.adresy-uwagi-pdf table .adresy > div label { font-size: 0.6em; display: block; }
.adresy-uwagi-pdf table .adresy div.kasa p { margin-bottom: 2mm; }
.grubszy-nag { font-weight: bold; margin-bottom: 0.4em;}
.adresy-uwagi-pdf table th { text-align: left;}
.adresy-uwagi-pdf table td.uwagi {  }
//.adresy-uwagi-pdf table td.uwagi > .nag{ font-weight: bold; margin: 0 0 2mm 0; }

.czas-wydruku { padding: 0 3mm; font-size: 0.7em; text-align: right; }





