.list-of-customers span.gruby {
    font-weight: 600;
}

// Kosz na liście klientów
.customers-kosz {
    color: green;
}

// Szczegóły o kliencie
.customer-detail > .webix_template {
    padding: 15px;
}

.customer-detail .customer-full-name > div {
    font-size: 125%;
    //color: black;
}