/*
Szczegóły o kliencie, po prawej stronie listy*/

// Sterujący toolbar
.customer-panel .customer-detail-toolbar {
    background-color: $zielen-naglowka-tabeli;
}

.customer-panel .customer-detail-toolbar button.webixtype_base {
    color: $kolor-czcionki-naglowka-tabeli;
}

//.customer-detail-toolbar .cd-kosz button
.customer-detail-toolbar .cd-button button.webix_img_btn {// style dla wszystkich przycisków 
    text-align: center;  
    
    span {
        color: green;
        font-size: 20px;
    }

    span.webix_badge {
        font-size: 95%;
    }

}

.customer-detail-toolbar .cd-button button.webix_img_btn:hover,
.customer-detail-toolbar .cd-button button.webix_img_btn:focus {
    background-color: $select-w-tabeli;
}

// Szczegóły o kliencie
.customer-detail {
    border-radius: 5px;
}

// Cały template szczegółów
.customer-detail > .webix_template {
    padding: 15px 15px 15px 30px;
}

.the-customer-detail // cały div ogarniający wszystkie detale o kliencie
> .siedziba // div z danymi adresowymi
> * // restuejemy wszystkie wew. elementy
{ margin:0; }

//.the-customer-detail > .siedziba > h3 { margin: 0.4em 0;}

.the-customer-detail > .siedziba > * { margin: 0.2em 0;}

// Linki do uploadu plików

#lof-id .link-item {
    display: inline-block; 
    margin:0;
    padding: 0 5px;
}

#lof-id .link-item:first-child {
    padding-left: 0;
}

// Left-right elem.

.elemOfCustDetail {
    //background-color: aquamarine; border: 1px solid red;    
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.left-right-elem {
    padding: 20px 0;
}


.left-right-elem .table {
    display: table;    
    //width:100%;
    border-collapse:collapse;
}

.left-right-elem .table-row {
    display: table-row;
}

$gora_dol: 0.05em;

.left-right-elem .table-cell {
    display: table-cell;
    padding: $gora_dol 0.5em $gora_dol 0;
    //border:#f0f0f0 1px solid;
}


//Uwagi
.cdetails-comment {
    padding-top: 10px;
    border-top: 5px solid #d9e1e1;
    //background-color: lightgreen;
}