#lista-kart .id {width: 3em;}
#lista-kart .status {width: 7em;}
#lista-kart .ile {width: 7em;}
#lista-kart .ikna {width: 5em;}
#lista-kart .opcje {width: 6em;}
#lista-kart .order {width: 8em;}
#lista-kart .opiekun {width: 7em;}
