/*
Definicje opisujące elemety uzywane w obłudze dodawania/edycji kart w trybie multi */

$cake_legend: #e32; // cake'owy kolor w fieldset -> legend

// pseudo legend
#CardAddForm fieldset > span.legend {
    color: $cake_legend;
    display: inline-block;
    font-size: 23px;
    font-weight: bold;
    padding-left: 6px;
    margin-bottom: 15px;
    cursor: pointer;
}

// Gdy mamy tryb jednej karty, to drugi span (z liczbą mnogą) jest ukryty
#CardAddForm fieldset.mono > span.legend > span:last-child {
    display: none;
}

// I vice versa
#CardAddForm fieldset.multi > span.legend > span:first-child {
    display: none;
}

#CardAddForm .multi-wrap {
    width: 50%;
    //background-color: lightseagreen;
    position: absolute;
    left: 200px;
    top: 0;
    //display: none;
}

// W trybie mono nie wyświetlamy
#CardAddForm .mono > .multi-wrap {
    display: none;
}

#CardAddForm .multi-wrap > div {
    display: inline-block;    
}

// Pole do wpisywania ilości wielu kart
#CardAddForm .multi-wrap > div.mti {
    width: 60px;
    margin-right: 2em;
}

// Pole ceny
#CardAddForm .multi-wrap > div.cenka {
    width: 110px;
    margin-right: 2em;
}

//Autom zamówienie
#CardAddForm .multi-wrap > div.zz {
    margin-top: 5px;
}

// Poprawa wyglądu checkboxa
#CardAddForm .multi-wrap > div.zz > input {
    margin: 3px 6px 0 0;
}