//Poprawka widoku formularza akcji w widoku karty (w związku z tbsami)
#tabsy div.form {
    border-left: none;
    padding-left: 0;
    padding-right: 0;
}

// Promień komórek w tabeli
$promien: 5px;
// kolory
$jasny: #a1c4e9;
$edyt: #83bfaf; //#64af9c; // kolor dla edytowalnych elementów
$ciemny: #4a73bd;
$naglowek: white; //nagłówek tabeli


table.proof1 th, table.proof1 td {
    border: 1px solid black;
    //border-radius: 3px;
    padding: 0.5mm;
    text-align: center;
}

table.proof1 th {
    border-bottom: none;
    border-top-left-radius: $promien;
    border-top-right-radius: $promien;
    background-color: $ciemny;
    color: $naglowek;
}

table.proof1 td {
    border-bottom-left-radius: $promien;
    border-bottom-right-radius: $promien;
    background-color: $jasny;
}

table.proof1 { 
    //border-collapse: collapse;
    border-spacing: 2.5mm 0; 
}

// otwarta klodka pozielenia edytowalne elementy
.unlocked .pedit { background-color: $edyt; }

/* Panel sterowania
*/

#panel {
    //background-color: $jasny;
    margin-bottom: 0.2em;
    text-align: right;
    padding: 0 3mm;
    font-size: 32px;
    position: relative;
}

$zielona-klodka: green;
$czerwona-klodka: red;

.edit-no #panel {  color: $czerwona-klodka; }
.edit-yes #panel {  color: $zielona-klodka; }

// mozna klikać w kłódkę
//.edit-yes i { cursor: pointer; }
#panel > i { cursor: pointer; }

//mamy obie kłódki, ale widoczna jest tylko ta odpowiednia
.locked i.fa-unlock { display: none;} 
.unlocked i.fa-lock { display: none;} 

#panel > p {
    border: 1px solid grey;
    margin: -11px 0 0 0;
    background-repeat: no-repeat;    
    background-position: center;
    height: 22px;
    width: 30px;
    display: inline-block;
    position: absolute;
    top: 50%;  
    right: 1.5em;
}

.en #panel > p { background-image: url("../img/proof/en32.png");}
.pl #panel > p { background-image: url("../img/proof/pl32.png");}
